{% form_theme form 'UnifikDatabaseConfigBundle::form_theme.html.twig' %}

{{ form_start(form, { attr: {'novalidate': 'novalidate'} }) }}

    {{ form_widget(form) }}

    {% block buttons %}
        <button type="submit">{% trans %}Save{% endtrans %}</button>
    {% endblock %}

{{ form_end(form) }}

